<!DOCTYPE html>
<html>
    <center>
    <head>
<strong><h1> Orders Table </h1></strong>
    </center>
</head>
    <head>
        <title>Orders Table</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=3.0">
    </head>
    <body>
    <center>
    <table id="table" border="10">
        <tr>
                <th>User Name</th>
                <th>Product ID</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
                <th>Order Number</th>
                <th>Recipe Number</th>
                <th>Operation Time</th>
        </tr>
            {{#each orders}}
             <tr>
                <th>{{user_name}}</th>
                <th>{{product_id}}</th>
                <th>{{qty}}</th>
                <th>{{price}}</th>
                <th>{{total_price}}</th>
                <th>{{order_number}}</th>
                <th>{{recipe_number}}</th>
                <th>{{createdAt}}</th>
            </tr>
            {{/each}}
        </table>
</html>